@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@700&family=Raleway&display=swap");

:root {
  --primary-color: #060d0d;
  --secondary-color: #fafafa;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

.containerallcs {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

header,
section {
  height: 100vh;
  scroll-snap-align: start;
}

.btnmaincs2 {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: "Raleway", sans-serif;
}

/* Start Header Section  */
header {
  background-color: var(--primary-color);
}
/* End Header Section  */

/* Start nav bar Section  */

nav {
  height: auto;
  font-family: "Raleway", sans-serif;
}

.navbar-brand,
.navbar-nav li a {
  color: var(--secondary-color);
}

#nav {
  /* height: 60vh; */
  background-color: #060d0ddc;
}

.navbar-brand {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}

.namecs {
  color: var(--secondary-color);
  font-size: 130px;
  font-weight: bolder;
  font-family: "Poiret One", cursive;
}

.namecs h3 {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .namecs {
    font-size: 80px;
  }
}

.navbar-toggler div {
  height: 3px;
  margin: 6px;

  background-color: var(--secondary-color);

  transform: rotate(0deg);
  transform-origin: 0;
}

.line1 {
  width: 25px;
}

.line2 {
  width: 20px;
}

.line3 {
  width: 15px;
}

.navanics {
}

.navanics .line1 {
  width: 25px;

  transform: rotate(-45deg);
  transform-origin: right;
}

.navanics .line2 {
  width: 25px;

  opacity: 0;
}

.navanics .line3 {
  width: 25px;

  transform: rotate(45deg);
  transform-origin: right;
}
/* End nav bar Section  */

/* Start title  */

.titlecs,
.titlecontactcs {
  pointer-events: none;
  font-family: "Poppins", sans-serif;
  opacity: 0.1;
  font-size: 200px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;

  position: absolute;
}

.titlecs {
  color: var(--primary-color);
  top: 35%;
  right: 48%;
  transform: translate(50%, -50%);
}

@media (max-width: 768px) {
  .titlecs {
    top: 30%;
    font-size: 110px;
  }
}

/* End title  */

/* Start About Section  */

#about p {
  font-family: "Raleway", sans-serif;
}

.leftanics {
  position: relative;
}

.leftanics::before {
  content: "";
  width: 10%;
  height: 100%;
  background-color: var(--primary-color);

  top: 0;
  left: 0%;
  position: absolute;
  transition: all 1s;
}

.leftanics::before {
  left: 150%;
}

.aboutrowcs {
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}

/* End About Section  */

/* Start Skills Section  */

#skills {
  background-color: var(--primary-color);
}

#skills img {
  width: 100px;
}

.skillscs {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}
/* End Skills Section  */

/* Start Contact Section  */
#contact {
  background-color: var(--primary-color);
}

.titlecontactcs {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);

  /* top: 0%;
  left: 50%;
  font-size: 250px;
  transform: translate(-50%, 100%); */
  position: absolute;
}

@media (max-width: 768px) {
  .titlecontactcs {
    /* top: 100%; */
    font-size: 90px;
  }
}

.contactbtncs {
  width: 25%;

  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

ion-icon {
  color: var(--secondary-color);
  font-size: 50px;
  transition: all 0.3s;
}

.contactbtncs:hover {
  background-color: var(--secondary-color);
  /* opacity: 0.5; */
}

.contactbtncs:hover ion-icon {
  color: var(--primary-color);
  transform: scale(1.3);
}

.copyrightcs {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;

  align-items: center;
}
/* End Contact Section  */
